        {% extends "base/base.html" %}
    {% block content %}
        <h1>{{precio.proovedor.nombre}} </h1>
            <h1>Subir excel de SANITARIOS FENIX</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Subir</button>
            </form>

            <h1 class="title">LISTA DE PRODUCTOS</h1>
            <table class="tabla" border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Proovedor</th>
                    </tr>
                </thead>
                <tbody>
                        {% for precio in precios%}
                            {% if precio.proovedor.nombre == 'Distribuidora Sanitaria Fenix' %}
                                <tr>
                                    <td>
                                    {% if precio.precio %}
                                            {{ precio.id }}
                                        {% else %}
                                        
                                        {% endif %}
                                    </td>
                                    <td>{{ precio.producto.nombre }}</td>
                                    <td>
                                        {% if precio.precio %}
                                            {{ precio.precio }}
                                        {% else %}
                                        
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ precio.proovedor.nombre}}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                </tbody>
            </table>
    {% endblock content %}
