{% extends "base/base.html" %}
    {% block content %}
        <h1>{{ precio.proovedor.nombre }}</h1>
        <h1>Subir excel de ELECTRIMAT</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Subir</button>
        </form>
        
        <h1 class="title"> LISTA DE PRODUCTOS</h1>
        <table class="tabla">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>PRECIO</th>
                    <th>PROOVEDOR</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    {% for precio in producto.precio_set.all %}
                        {% if precio.proovedor.nombre == 'Electrimat' %}
                            <tr>
                                <td>{{ precio.id }}</td>
                                <td>{{ producto.nombre }}</td>
                                <td>{{ precio.precio }}</td>
                                <td>
                                    {{ precio.proovedor.nombre}}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

